# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
projetoFinal

# Gcov
*.gcno
*.gcda

# Arquivos gerados pelo programa
relatorio.txt
logErros.txt
logTestes.txt

# Arquivos gerados pelo CMake
CMakeCache.txt